<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book), method: :delete do %>
    <p>
      <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <%= book.favorites.count %>
    </p>
  <% end %>

<% else %>
  <%= link_to book_favorites_path(book), method: :post do %>
    <P>
      <i class="far fa-heart" aria-hidden="true"></i>
      <%= book.favorites.count %>
    </P>
  <% end %>
<% end %>