<p id="notice"></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-log-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, id:"book_title", class: "form-control book_title" %>

      <% end %>
    </div>
  </div>
</div>